* {
    font-family: 'Exo 2', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', sans-serif;
    margin: 10px 0;
}

h1 {
    font-size: 2.8rem;
    color: white;
}

h2 {
    font-size: 3.052rem;
}

h3 
    {font-size: 2.441rem;
    color: white;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    color: #333; 
}

div {
    /* border: 1 px blue solid; */
}

section {
    background-color: lightgray;
    padding: 80px 40px;  
}

.icons {
    font-size: 24px;
}

.author-photo {
    width: 40px;
    height: 40px;
}

.feat-card {

}

.container {
    display: flex; 
  }
  
  img {
    /* width: 100% */
}

.author-card {
    align-items: center;
}

.author-photo {
    width: 40px;
    height: 40px;
    margin-right: 
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 36px;
}

footer {
    justify-content: space-evenly;
    padding: 40px;
}

video {
    width: 100%;
}

.card {
    width: 250px;
}

.img-card {
    width: 100%;
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#hero {
    background-image: url('../img/IMG_9343.jpg');
    background-size: cover; 
    height: 60vh;
    text-align: center;
}

#hero div {
    padding: 20px;
}

#articles {
    justify-content: space-between;
}

#contact {
    justify-content: space-around;
    background-color:cadetblue;
}

/* LINKS */
a:link, a:visited {
    text-decoration: none;
    color: lightseagreen; 
    padding: 10px; 
}

a:hover {
    color:midnightblue;
}

a:active {
    color: olive;
}

/* CTA Button */
a.cta-button:link, a.cta-button:visited {
    background-color: orangered;
    border-radius: 8px;
    color: whitesmoke; 
    padding:16px 24px;
}

a.cta-button:hover {
    background-color: tomato;
}

a.cta-button.active {
    background-color: darkred;
}

/* CV Download Button */
a.cv-button:link, a.cta-button:visited {
    background-color: orangered;
    border-radius: 8px;
    color: whitesmoke; 
    padding:8px 16px;
}

a.cv-button:hover {
    background-color: tomato;
}

a.cv-button.active {
    background-color: darkred;
}

/* Forms */

input {
        padding: 16px 24px;
        margin: 8px 0;
        border-radius: 5px;
        border: 1px solid gray;
    }
    
    input [type=text] {
        box-sizing: border-box;
        width: 100%;
        background-image: url(‘../img/user-line.png’);
        background-repeat: no-repeat;
        background-position: 8px;
        padding-left: 40px;
        width: 77%;
    }
    
    input [type=email] {
        box-sizing: border-box;
        width: 100%;
        background-image: url(‘..img/mail-line’);
        background-repeat: no-repeat;
        background-position: 8px;
        padding-left: 40px;
        width: 77%;
    }
    
    textarea{
        box-sizing: border-box;
        width: 80%;
        height: 150px;
        padding: 16px 24px;
        margin: 8px 0;
        border-radius: 5px;
        border: 1px solid grey;
        resize: none;
    }
    
    textarea:focus {
        outline: 0;
        background-color: mintcream;
    }

    select {
        width: 80%;
        padding: 16px 24px;
        margin: 8px 0;
        border-radius: 5px;
    }
    
    input[type=submit] {
        border: none;
        background-color: orangered;
        color: white;
        cursor: pointer;
    }
    
    #btn-form {
        width: 80%;
    }
    
    input:focus {
        background-color: lightyellow;
        outline: 0;
    }
    /* LINKS */
    a:link, a:visited {
        text-decoration: none;
        color:lightseagreen;
        padding: 10px;
    }
    a:hover {
        color:midnightblue;
    }
    a:active {
        color:olive;
    }
    
    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* TABLET */
    @media only screen and (min-width: 680px) and (max-width: 767px) {
        h1 {
            color: darkviolet;
        }
    }




    /* ------------------------------- */
    /* ------------------------------- */
    /* ------------------------------- */
    /* DESKTOP */
    @media only screen and (min-width: 768px) {
        h1 {
            color: khaki;
            font-size: 4.209rem;
        }
    }

